* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    height: 900px;
    width: 100%;
    text-align: center;
    line-height: 550px;
    font-size: 22pt;
    color: #F1F1F1;
    background-image: url(../img/header.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    float: left;
}


.topnav {
    overflow: hidden;
    background-color: #f2f2f2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}

.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left
}

.column.left {
    width: 35%;
    float: left;
    padding: 10px;
}

.column.middle {
    width: 45%;
    float: middle;
    padding: 10px;
}

.column.right {
    width: 20%;
    float: left;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}